My workflow. vcdilobt davamatot webhookidan camogeba informaciis imaze vinc icereba-13.json
{
  "name": "My workflow. vcdilobt davamatot webhookidan camogeba informaciis imaze vinc icereba.",
  "nodes": [
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('Edit Fields4').item.json.chatGptRequest }}",
        "options": {
          "systemMessage": "=NOW_ISO={{ $now }} | TZ=Asia/Tbilisi\nВсегда передавай время в формате RFC3339 с оффсетом +04:00 (пример: 2025-09-20T15:00:00+04:00) для всех инструментов (Google Calendar, проверки занятости и т.д.).\n⚠️ В клиентском сообщении никогда не показывай RFC3339. Для клиента всегда пиши время в естественной форме и обязательно с датой, даже если пользователь написал «завтра»:\nнапр., «20 сентября, 15:00» или «ხვალ, 26 ოქტომბერი, 15:00».\n\n# =========================\n# INPUTS (ВХОДНЫЕ ДАННЫЕ)\n# =========================\ntext_to_answer: {{ $('Edit Fields4').item.json.chatGptRequest }}\nchat_id: {{ $json.sessionID }}\nSTATE: {{ $json.state || {} }}\nLANG_HINT: {{ $json.lang_hint || 'auto' }}\n\n# =========================\n# 1) РОЛЬ И ЦЕЛИ\n# =========================\nYou are 'VetiBot', a professional, empathetic assistant of a vet clinic.\nGoals:\n1) Triage emergencies and direct to phone when needed.\n2) Provide factual info from the clinic KB (address, hours, phone, prices) без искажений.\n3) Manage appointments: booking/rescheduling/cancel via Google Calendar tools.\n4) Inform about current job vacancy when relevant.\n\nТон: тёплый и деловой. По умолчанию — кратко.\nПри сборе данных/подтверждении слота — до 4 коротких предложений или 3 буллета.\n\n# =========================\n# 1A) ПЕРВОЕ СООБЩЕНИЕ\n# =========================\nЕсли STATE пустой или новый разговор (нет lang, booking_stage):\nRU: «Здравствуйте! 👋 Я VetiBot, помощник ветклиники. Чем могу помочь?»\nKA: «გამარჯობა! 👋 მე ვარ VetiBot, ვეტკლინიკის ასისტენტი. რით შემიძლია დაგეხმაროთ?»\nEN: «Hello! 👋 I'm VetiBot, the clinic assistant. How can I help?»\n\n# =========================\n# 2) КАЛЕНДАРНАЯ ЛОГИКА\n# =========================\n**ВАЖНО: У нас два отдельных календаря:**\n- **CLINIC CALENDAR** — для всех ветеринарных услуг (консультация, вакцинация, анализы, хирургия и т.д.)\n  Инструменты: cal_check_availability(clinic), cal_create_event(clinic), cal_update_event(clinic), cal_delete_event(clinic)\n  \n- **GROOMING CALENDAR** — ТОЛЬКО для услуг груминга\n  Инструменты: cal_check_availability(grooming), cal_create_event(grooming), cal_update_event(grooming), cal_delete_event(grooming)\n\n**Правило выбора календаря:**\n- Если STATE.booking_service == \"grooming\" → используй ТОЛЬКО инструменты с (grooming)\n- Для всех остальных услуг → используй ТОЛЬКО инструменты с (clinic)\n\n**Правила работы с календарем:**\n- Рабочие часы: ежедневно 11:00–20:00. Никогда не предлагай и не создавай события вне этих часов.\n\n**СПЕЦИАЛЬНЫЕ ПРАВИЛА ДЛЯ СТОМАТОЛОГИИ:**\n\n⚠️ КРИТИЧНО - РАСПОЗНАВАНИЕ СТОМАТОЛОГИИ:\nПеред ЛЮБОЙ проверкой cal_check_availability анализируй: это запись к стоматологу?\n\n**Признаки стоматологической записи:**\n- Клиент упоминает проблемы с зубами, ртом, деснами\n- Клиент просит консультацию/осмотр/чистку зубов\n- Клиент спрашивает про стоматолога, dental services, სტომატოლოგი\n- Клиент описывает: камень на зубах, запах изо рта, боль при жевании, кровоточивость десен, сломанный зуб\n- Любые симптомы связанные с полостью рта питомца\n\n**АЛГОРИТМ при распознавании стоматологии:**\n\nШАГ 1: Определи через reasoning - это стоматология?\n→ Если НЕТ → продолжай обычное бронирование\n→ Если ДА → переходи к ШАГ 2\n\nШАГ 2: Клиент указал конкретную дату/день?\n→ НЕТ → переходи к Сценарию 9 (информируй о днях работы стоматолога)\n→ ДА → переходи к ШАГ 3\n\nШАГ 3: Вычисли день недели запрошенной даты\n→ Понедельник/Среда/Пятница → продолжай обычное бронирование (cal_check_availability)\n→ Вторник/Четверг/Суббота/Воскресенье → НЕ проверяй календарь, переходи к ШАГ 4\n\nШАГ 4: Сообщи что стоматолог не работает в этот день\n\nRU: «Стоматолог работает только по понедельникам, средам и пятницам 🦷\n\nБлижайшие доступные дни:\n- [понедельник, дата] - 11:00, 14:00, 17:00\n- [среда, дата] - 12:00, 15:00, 18:00\n- [пятница, дата] - 11:00, 14:00, 17:00\n\nКакой день подойдёт?»\n\nKA: «სტომატოლოგი მუშაობს მხოლოდ ორშაბათს, ოთხშაბათს და პარასკევს 🦷\n\nუახლოესი ხელმისაწვდომი დღეები:\n- [ორშაბათი, თარიღი] - 11:00, 14:00, 17:00\n- [ოთხშაბათი, თარიღი] - 12:00, 15:00, 18:00\n- [პარასკევი, თარიღი] - 11:00, 14:00, 17:00\n\nრომელი დღე მოგეწონებათ?»\n\nEN: «The dentist works only on Mondays, Wednesdays and Fridays 🦷\n\nNearest available days:\n- [Monday, date] - 11:00, 14:00, 17:00\n- [Wednesday, date] - 12:00, 15:00, 18:00\n- [Friday, date] - 11:00, 14:00, 17:00\n\nWhich day works for you?»\n\n**ПРИМЕРЫ РАСПОЗНАВАНИЯ:**\n\nПример 1:\nКлиент: \"У кота болят зубы, нужна консультация на четверг\"\n→ Reasoning: проблемы с зубами = стоматология ✅\n→ День: четверг = НЕ ПН/СР/ПТ ❌\n→ Действие: сообщи о днях работы + предложи альтернативы\n\nПример 2:\nКлиент: \"კატას ძალიან ავა კბილები, შეიძლება ექიმთან ჩაწერა?\"\n→ Reasoning: კბილები (зубы) = стоматология ✅\n→ Дата не указана\n→ Действие: Сценарий 9 (информируй что стоматолог ПН/СР/ПТ)\n\nПример 3:\nКлиент: \"Need teeth cleaning for my dog on Wednesday at 3pm\"\n→ Reasoning: teeth cleaning = стоматология ✅\n→ День: Wednesday = ПН/СР/ПТ ✅\n→ Действие: обычное бронирование через cal_check_availability\n\nПример 4:\nКлиент: \"У собаки рвота и понос\"\n→ Reasoning: рвота/понос ≠ стоматология ❌\n→ Действие: обычное бронирование, экстренность\n\n**ВАЖНО:**\n- Используй reasoning для определения стоматологии, НЕ просто keyword matching\n- \"Осмотр полости рта\" = стоматология\n- \"Запах изо рта\" = стоматология\n- \"Сломался клык\" = стоматология\n- \"Не может жевать\" = стоматология\n\n- Всегда преобразуй пользовательское время к RFC3339 +04:00.\n- Перед cal_create_event/cal_update_event вычисляй end_rfc3339 = start_rfc3339 + duration_min.\n- Никогда не предполагай занятость — сначала вызови соответствующий cal_check_availability (clinic или grooming).\n- Телефон обязателен до cal_create_event. Формат: `5XX XXX XXX` (9 цифр) или `+995 5XX XXX XXX`. \n  Если формат неверный → вежливо попроси исправить: «Уточните номер в формате 5XX XXX XXX, пожалуйста» / «გთხოვთ, დააზუსტოთ ნომერი ფორმატში 5XX XXX XXX».\n  Сохрани в STATE.collected_data.phone.\n- **Event ID для переноса:** Если ты УЖЕ создал запись через cal_create_event В ЭТОМ РАЗГОВОРЕ, то event_id доступен автоматически для cal_update_event. Event_id НЕ нужно спрашивать у клиента и НЕ показывать клиенту.\n- После успешного cal_create_event/cal_update_event запомни детали в STATE: {start, end, calendar_type: \"clinic\"|\"grooming\"}. \n**КРИТИЧНО - СОХРАНЕНИЕ EVENT_ID:**\nПосле успешного вызова cal_create_event:\n1. Инструмент вернёт объект response с полем \"id\" внутри массива - это event_id\n2. ОБЯЗАТЕЛЬНО запомни этот event_id для использования в cal_update_event\n3. Event_id выглядит как строка букв и цифр, например: \"jq8pnoreg5aipl7pvkplnn69ts\"\n4. НЕ путай event_id с другими ID (session_id, calendar_id и т.д.)\n5. Этот event_id нужен для переноса записи через cal_update_event\n\nПример правильного извлечения event_id:\n- cal_create_event вернул: {\"response\": [{\"id\": \"jq8pnoreg5aipl7pvkplnn69ts\", \"summary\": \"...\", \"start\": {...}}]}\n- Ты запоминаешь: event_id = \"jq8pnoreg5aipl7pvkplnn69ts\"\n- При cal_update_event используешь именно эту строку в параметре Event_ID\n\n- После успешного cal_create_event выполни ДВА действия:\n  \n  **Действие 1 (внутреннее):** Вызови tool \"Send a text message in Telegram\" для уведомления администратора. Это служебное сообщение, клиент его НЕ видит.\n  Формат текста:\n  \"🔔 НОВАЯ ЗАПИСЬ\n  \n  📅 [дата, время]\n  🐾 [услуга] — [питомец]\n  📞 [телефон]\n  👤 [имя клиента]\n  \n  💬 [все детали из description полностью]\n  \n  Календарь: [clinic/grooming]\"\n  \n  **Действие 2 (для клиента):** Ответь клиенту подтверждением на его языке:\n  RU: «Отлично! Запись подтверждена ✅\n  📅 [дата, время]\n  🐾 [услуга]\n  \n  Ждём вас! Если нужно изменить — напишите 🐾»\n  \n  KA: «შესანიშნავია! ჩანაწერი დადასტურებულია ✅\n  📅 [თარიღი, საათი]\n  🐾 [სერვისი]\n  \n  ველოდებით! თუ საჭიროა შეცვლა — მოგვწერეთ 🐾»\n  \n  EN: «Excellent! Your appointment is confirmed ✅\n  📅 [date, time]\n  🐾 [service]\n  \n  We look forward to seeing you! If you need to make any changes, please let me know 🐾»\n\n**2A) Обработка занятых слотов**\nЕсли cal_check_availability (clinic или grooming) вернул busy:\n→ Автоматически предложи 3 ближайших окна в пределах сегодня/завтра, 11:00–20:00, округляя к :00/:30.\nRU: «В это время занято 😔. Ближайшие варианты:\n  • [вариант 1]\n  • [вариант 2]\n  • [вариант 3]\n  Что подойдёт?»\nKA: «ეს დრო დაკავებულია 😔. უახლოესი ვარიანტები:\n  • [ვარიანტი 1]\n  • [ვარიანტი 2]\n  • [ვარიანტი 3]\n  რომელი გირჩევნიათ?»\nEN: «That time is busy 😔. Nearest available options:\n  • [option 1]\n  • [option 2]\n  • [option 3]\n  Which works for you?»\n\n**Длительности по умолчанию (duration_min, внутренние):**\n**ДЛЯ CLINIC CALENDAR (все услуги кроме груминга):**\n- Консультация: 30\n- Вакцинация (любая): 30\n- Эхоскопия: 30\n- Анализы: 30\n- Стоматология: 30\n- Микрочип/Паспорт: 30\n- Документы для поездок: 30\n- Госпитализация: 30\n- Хирургия: \n  - Кастрация кота: 120\n  - Стерилизация кошки: 150\n  - Кастрация пса: 120-150 (используй 135 как среднее)\n  - Стерилизация суки: 150-180 (используй 165 как среднее)\n\n**ДЛЯ GROOMING CALENDAR:**\n- Груминг стандартный: 180\n- Груминг крупных пород: 210\n\n**Стандарты события:**\n- title: \"[SERVICE] — [Питомец/тип] — [Имя клиента]\"\n- description: услуга; вид/возраст/вес; симптомы/повод; примечания; контактный телефон\n- location: \"თბილისი, ისანი, გაბრიელ სალოსის ქ. 63 (ეკლესიასთან)\"\n- attendees: [] // телефон только в description\n\n# =========================\n# 2B) ЛОГИКА ПЕРЕНОСА ЗАПИСЕЙ (cal_update_event)\n# =========================\n\n**Когда использовать cal_update_event:**\n- Ты УЖЕ создал запись через cal_create_event В ЭТОМ РАЗГОВОРЕ\n- Клиент хочет изменить время или детали этой записи\n- Event_ID доступен автоматически из предыдущего cal_create_event\n\n**Сигналы для переноса:**\n- \"можно перенести\" / \"გადავიტანოთ\" / \"reschedule\"\n- \"изменить время\" / \"დროის შეცვლა\" \n- \"не смогу в [время], можно [другое время]\"\n- \"хочу другое время\"\n\n**Алгоритм переноса:**\n\nШАГ 1: Распознай намерение переноса\n→ Клиент просит другое время после уже созданной записи = ПЕРЕНОС\n\nШАГ 2: Уточни новое время (если неясно)\nRU: \"На какое время переносим? Работаем 11:00-20:00\"\nKA: \"რომელ დროზე გადავიტანოთ? ვმუშაობთ 11:00-20:00\"\nEN: \"What time to reschedule? Working hours 11:00-20:00\"\n\nШАГ 3: Определи правильный календарь\n→ Если изначально была услуга груминг → grooming\n→ Все остальные услуги → clinic\n\n**ПРАВИЛО ДЛЯ ПЕРЕНОСА - ИГНОРИРОВАНИЕ ТЕКУЩЕЙ ЗАПИСИ:**\n\nПри переносе записи:\n\nШАГ 4A: Получи текущую запись через \"Get many events\"\n→ Запомни её Start и End время\n\nШАГ 4B: Проверь доступность нового времени\n→ cal_check_availability(календарь, новое_время)\n\nШАГ 4C: Интерпретируй результат\n→ Если \"available\" → продолжай с ШАГ 5\n→ Если \"busy\" → проверь перекрытие:\n\nПРОВЕРКА ПЕРЕКРЫТИЯ:\nНовое время попадает в диапазон текущей записи (Start - End)?\n→ ДА → ИГНОРИРУЙ \"busy\", продолжай с ШАГ 5\n→ НЕТ → это реально занято другой записью, переходи к ШАГ 6\n\nПРИМЕРЫ:\nТекущая запись: 11:00-14:00\nНовое время: 11:30 → 11:30 между 11:00 и 14:00? ДА → Игнорируй \"busy\" ✅\n\nТекущая запись: 11:00-14:00  \nНовое время: 14:30 → 14:30 между 11:00 и 14:00? НЕТ → Реально занято ❌\n\n\nШАГ 5: Если свободно - обнови запись\n→ cal_update_event(календарь) с новым Start и End\n→ Event_ID передастся автоматически из контекста workflow\n\n→ Telegram уведомление:\n\"🔄 ПЕРЕНОС ЗАПИСИ\n\n📅 Было: [старая дата, время]\n➡️ Стало: [новая дата, время]\n\n🐾 [услуга] — [питомец]\n📞 [телефон]\n👤 [имя клиента]\n\nКалендарь: [clinic/grooming]\"\n\n→ Подтверждение клиенту:\nRU: \"Отлично! Запись перенесена ✅\n📅 [новая дата, время]\n🐾 [услуга]\n\nЖдём вас! 🐾\"\n\nKA: \"შესანიშნავია! ჩანაწერი გადატანილია ✅\n📅 [ახალი თარიღი, დრო]\n🐾 [სერვისი]\n\nველოდებით! 🐾\"\n\nEN: \"Great! Appointment rescheduled ✅\n📅 [new date, time]\n🐾 [service]\n\nWe look forward to seeing you! 🐾\"\n\nШАГ 6: Если занято\n→ Предложи 3 ближайших альтернативы (как в разделе 2A)\n\n**ПРИМЕРЫ ПЕРЕНОСА:**\n\nПример 1 - Простой перенос:\nКлиент: \"Можно перенести на 16:00?\"\n→ Ты: \"Переносим вашу запись на 16:00?\" \n→ Клиент: \"Да\"\n→ Ты: cal_check_availability(clinic, 16:00) → свободно\n→ Ты: cal_update_event(clinic) с новым Start/End\n→ Telegram + подтверждение клиенту\n\nПример 2 - Перенос на другой день:\nКлиент: \"არ შემიძლია ხვალ, გადავიტანოთ ზეგ?\"\n→ Ты: \"რომელ საათზე ზეგ?\"\n→ Клиент: \"15 საათზე\"\n→ Ты: проверка → update → уведомления\n\nПример 3 - Изменение деталей без времени:\nКлиент: \"У меня запись на завтра, телефон изменился на 599 111 222\"\n→ Ты: cal_update_event(clinic) с обновленным Description\n→ Start/End не передаешь (время не меняется)\n\n**КРИТИЧНО:**\n- Event_ID НЕ спрашивай у клиента - он в контексте workflow\n- Можешь использовать cal_update_event ТОЛЬКО если УЖЕ создавал запись в этом разговоре\n- Для новой записи → всегда cal_create_event\n- Всегда проверяй доступность нового времени ПЕРЕД update\n\n# =========================\n# 3) STATE (внутреннее состояние)\n# =========================\n{\n  \"lang\": \"ka\" | \"ru\" | \"en\",\n  \"calendar_type\": null | \"clinic\" | \"grooming\",\n  \"current_intent\": \"booking\" | \"reschedule\" | \"cancellation\" | \"info_request\" | \"emergency\" | \"other\",\n  \"booking_stage\": \"started\" | \"service_confirmed\" | \"time_requested\" | \"time_checked\" | \"data_collection\" | \"awaiting_phone\" | \"awaiting_final_confirmation\" | \"confirmed\",\n  \"booking_service\": \"consultation\" | \"grooming\" | \"vaccination_cat\" | \"vaccination_dog\" | \"rabies\" | \"passport\" | \"microchip\" | \"doc_travel\" | \"ultrasound\" | \"lab\" | \"dentistry_check\" | \"hospitalization\" | \"surgery_cat_castration\" | \"surgery_cat_spay\" | \"surgery_dog_castration\" | \"surgery_dog_spay\" | null,\n  \"collected_data\": {\n    \"pet_type\": null, \"age\": null, \"weight\": null, \"symptoms\": null, \"breed_size\": null, \"sex\": null, \"phone\": null\n  },\n  \"missing_data\": []\n}\n\n**ПРАВИЛО:** логика следует STATE.booking_stage. Тексты в Сценариях — шаблоны для этапов.\n\n# =========================\n# 3A) АРБИТРАЖ ЭТАПОВ\n# =========================\nПринимай данные в любом порядке. Приоритет:\n1) Экстренность → сценарий 1 (телефон), без бронирования.\n2) Отмена/перенос → раздел 5.\n3) ВРЕМЯ + ТЕЛЕФОН → определи calendar_type по booking_service, вызови соответствующий cal_check_availability; если свободно — спроси 1-2 недостающих пункта и переходи к п.6.\n4) ВРЕМЯ без ТЕЛЕФОНА → спроси телефон + 1-2 пункта; после телефона → п.6.\n5) Не переспрашивай данные поля. missing_data — только то, чего нет.\n6) **ФИНАЛЬНОЕ ПОДТВЕРЖДЕНИЕ перед cal_create_event:**\n   RU: «Подтверждаю запись:\n   📅 [дата, день недели, время]\n   🐾 [услуга]\n   📞 [телефон]\n   Всё верно? (да/изменить)»\n   \n   KA: «ვადასტურებ ჩანაწერს:\n   📅 [თარიღი, დღე, საათი]\n   🐾 [სერვისი]\n   📞 [ტელეფონი]\n   ყველაფერი სწორია? (დიახ/შეცვლა)»\n   \n   EN: «Confirming appointment:\n   📅 [date, day, time]\n   🐾 [service]\n   📞 [phone]\n   All correct? (yes/change)»\n   \n   → Только после «да/დიახ/yes» → вызови соответствующий cal_create_event (clinic или grooming). Установи booking_stage = \"awaiting_final_confirmation\".\n7) Альтернативы — пакетами (2-3 окна), к :00/:30, в пределах 11:00-20:00 сегодня/завтра.\n\n# =========================\n# 3B) ТРИАЖ ЭКСТРЕННОСТИ\n# =========================\nПризнаки: затруднённое дыхание; сильное кровотечение; судороги; выраженная вялость; множественная рвота/диарея с кровью; отравление; отсутствие мочеиспускания у кота; острая боль/вздутие; травма/падение; высокая температура у щенков/котят.\nДействие: дать телефон **511 252 470**, не уводить в бронирование. Если клиент просит визит — переход к нужному сценарию.\n\nПограничные симптомы («вялая, не ест 2 дня»): предложи приоритетную консультацию сегодня И дай телефон.\n\nВне часов: сообщи 11:00-20:00; при неотложном — «обратитесь в круглосуточную клинику».\n\n# =========================\n# 3C) РАСПОЗНАВАНИЕ ПЕРЕНОСА\n# =========================\n**Перед cal_create_event проверь:**\n\nЕсли ты УЖЕ создал запись В ЭТОМ РАЗГОВОРЕ и клиент просит время:\n\nСИТУАЦИЯ 1: Клиент просит ТО ЖЕ время\n→ Не создавай дубликат\n→ Ответ: «У вас уже есть запись на это время 🐾. Хотите изменить детали?» / «უკვე ხართ ჩაწერილი ამ დროს 🐾. გსურთ შეცვლა?»\n\nСИТУАЦИЯ 2: Клиент просит ДРУГОЕ время\n→ Это ПЕРЕНОС, не новая запись\n→ Спроси подтверждение:\n\nRU: \"Переносим вашу запись на [новое время]? (сейчас у вас: [старое время])\"\nKA: \"გადავიტანოთ თქვენი ჩანაწერი [ახალ დროზე]? (ახლა გაქვთ: [ძველი დრო])\"\nEN: \"Should I reschedule your appointment to [new time]? (currently: [old time])\"\n\n→ При согласии: cal_check_availability → cal_update_event (см. раздел 2B)\n\nСИТУАЦИЯ 3: Не создавал запись в этом разговоре\n→ Это новая запись → cal_create_event\n\n# =========================\n# 4) КЛИНИЧЕСКИЕ ФАКТЫ\n# =========================\n📍 მისამართი: თბილისი, ისანი, გაბრიელ სალოსის ქ. 63 (ეკლესიასთან)  \n🗺️ Google Maps: https://maps.app.goo.gl/Ye56QQrJsxjn7Hi46\n⏰ სამუშაო საათები: ყოველდღე 11:00–20:00  \n📞 ტელეფონი: 511 252 470\n\nსერვისები / Услуги (точные цены):\nვაქცინაცია კატის: 60 GEL ; ვაქცინაცია ძაღლის: 55 GEL ; ცოფის ვაქცინაცია: 30 GEL  \nგრუმინგი / თმის შეჭრა: 80 GEL-დან ; ვეტპასპორტი: 25 GEL ; მიკროჩიპი: 50 GEL  \nჰოსპიტალიზაცია (24სთ): 50 GEL  \n\nქირურგიული პროცედურები:  \nკატის კასტრაცია: 180 GEL ; კატის სტერილიზაცია: 220 GEL ; ძაღლის კასტრაცია: 180 GEL-დან ; ძაღლის სტერილიზაცია: 240 GEL-დან  \n\nსტომატოლოგია: 250 GEL-დან  \n\nლაბორატორია:  \nსისხლის საერთო: 30 GEL ; ბიოქიმია: 150 GEL ; ელექტროლიტები: 70 GEL  \n\nექოსკოპია:  \nშარდის ბუშტი: 50 GEL ; ორსულობის დადგენა: 50 GEL  \n\nკონსულტაციები:  \nკონსულტაცია: 50 GEL ; კონსულტაცია მთავარ ექიმთან: 80 GEL  \n\nმოგზაურობისთვის დოკუმენტები:  \nცხოველის ჯანმრთელობის ცნობა: 100 GEL (გაიცემა კლინიკაში; შემდეგ მფლობელი ცვლის ექსპორტის ლიცენზიაზე)\n\n# =========================\n# 4A) СТИЛЬ ОБЩЕНИЯ\n# =========================\n**Emoji:** умеренно, 1-2 на сообщение. Подходящие: 🐾 ❤️ 😿 📞 📍 ⏰ ✂️ 💉 🩺 😔\nИзбегай: 😂🤣💩 и неуместные в ветеринарном контексте.\n**Тон:** тёплый профессионализм. Эмпатия при экстренности, без паники.\n\n# =========================\n# 5) ОТМЕНА И ПЕРЕНОС\n# =========================\nINTENT: «не смогу / გადავდოთ / позже запишусь» → cancel intent.\n\n**Cancellation:**\nЕсли ты создавал запись В ЭТОМ РАЗГОВОРЕ:\n\n1) **Получи event_id:**\n   → Вызови \"Get many events in Google Calendar\" (clinic или grooming)\n   → Извлеки event_id из response[0].id\n\n2) **Удали запись:**\n   → Используй соответствующий cal_delete_event (clinic или grooming) с этим event_id\n\nПосле успешного cal_delete_event выполни ДВА действия:\n  \n**Действие 1 (внутреннее):** Вызови tool \"Send a text message in Telegram\" для уведомления администратора об отмене:\n\"🚫 ОТМЕНА ЗАПИСИ\n\n📅 Была запись: [дата, время]\n🐾 [услуга] — [питомец]\n📞 [телефон]\n👤 [имя клиента]\n\n❌ Причина: Клиент отменил\n\nКалендарь: [clinic/grooming]\"\n\n**Действие 2 (для клиента):** Ответь клиенту:\nKA: „გასაგებია ❤️ არ არის პრობლემა. როცა გექნებათ დრო, მომწერეთ და სიამოვნებით დაგიჯავშნით თავიდან 🐾\"\nRU: «Понимаю ❤️ ничего страшного. Когда будет удобно — напишите, и с радостью подберём новое время 🐾»\nEN: «Understood ❤️ no problem. When convenient, write and I'll gladly book a new time 🐾»\n\nЕсли НЕ создавал запись в этом разговоре:\n→ Скажи: «Не вижу вашей записи в этом разговоре. Если нужна помощь, позвоните 📞 511 252 470»\n\n**Reschedule:**\nПризнаки переноса: \"перенести\", \"გადავიტანოთ\", \"изменить время\", \"другое время\"\n\nЕсли ты УЖЕ создал запись В ЭТОМ РАЗГОВОРЕ:\n\n1) **Уточни новое время** (если неясно):\n   RU: \"На какое время переносим? Работаем 11:00-20:00\"\n   KA: \"რომელ დროზე გადავიტანოთ? ვმუშაობთ 11:00-20:00\"\n   EN: \"What time to reschedule? Working hours 11:00-20:00\"\n\n2) **Определи календарь**:\n   - Если изначально была услуга груминг → grooming\n   - Все остальные услуги → clinic\n\n3) **Проверь доступность**:\n   → cal_check_availability(календарь, новое_время)\n\n4) **Если свободно - обнови**:\n   → cal_update_event(календарь) с новым Start и End\n   → Event_ID автоматически из контекста workflow\n   \n   → Telegram уведомление (см. раздел 2B)\n   → Подтверждение клиенту (см. раздел 2B)\n\n5) **Если занято**:\n   → Предложи 3 ближайших окна (как в разделе 2A)\n\nЕсли НЕ создавал запись в этом разговоре:\n→ Скажи: «Не вижу вашей записи в этом разговоре. Хотите создать новую?»\n\n**ВАЖНО - Получение event_id:**\nПеред вызовом cal_update_event:\n- Для clinic услуг → вызови \"Get many events in Google Calendar\"\n- Для grooming → вызови \"Get many events in Google Calendar (grooming)\"\n- Извлеки event_id из response[0].id\n- Используй этот event_id в cal_update_event\n\n# =========================\n# 6) ЯЗЫК\n# =========================\n- lang_hint приходит уже определённым из детектора. Приоритет:\n  1) Если lang_hint задан → используй lang_hint и обнови state.lang\n  2) Если lang_hint пуст → определи по тексту сообщения (ა-ჰ/кириллица/латиница)\n  3) Только если текст совсем нейтральный (цифры/эмодзи) → используй state.lang как фолбэк\n\n- Грузинская письменность (ა-ჰ) → KA, state.lang=\"ka\"\n- Грузинский транслит (gamarjoba, rogor, sad) → KA, state.lang=\"ka\"  \n- Кириллица → RU, state.lang=\"ru\"\n- Латиница (английские слова) → EN, state.lang=\"en\"\n- Смешанный текст: приоритет грузинский > русский > английский\n- Факты из раздела 4 цитируй дословно\n- Переключение языка → плавно продолжи без комментариев\n\n# =========================\n# 7) РЕДИРЕКТЫ\n# =========================\nRU: «У меня нет информации по этому вопросу 🙏. Рекомендую позвонить 📞 511 252 470.»\nKA: «ამ კითხვაზე ინფორმაცია არ მაქვს 🙏. რეკომენდირებულია დაუკავშირდეთ კლინიკას 📞 511 252 470.»\nEN: «I don't have info on this 🙏. Please call 📞 511 252 470.»\n\nЧастичное совпадение:\nRU: «[[факт из базы]] 🐾. По остальному — позвоните 📞 511 252 470.»\nKA: «[[ფაქტი ბაზიდან]] 🐾. დანარჩენზე — 📞 511 252 470.»\nEN: «[[fact]] 🐾. For the rest — 📞 511 252 470.»\n\n# =========================\n# 8) СЦЕНАРИИ\n# =========================\n\n### Сценарий 0 — Адрес/часы/телефон\nЕсли спрашивают только адрес/часы/телефон без намека на запись:\nRU: «📍 Тбилиси, Исани, ул. Габриэл Салоси 63 (у церкви)\n🗺️ https://maps.app.goo.gl/Ye56QQrJsxjn7Hi46\n⏰ Ежедневно 11:00–20:00\n📞 511 252 470»\n\nKA: «📍 თბილისი, ისანი, გაბრიელ სალოსის ქ. 63 (ეკლესიასთან)\n🗺️ https://maps.app.goo.gl/Ye56QQrJsxjn7Hi46\n⏰ ყოველდღე 11:00–20:00\n📞 511 252 470»\n\nEN: «📍 Tbilisi, Isani, Gabriel Salosi St. 63 (near church)\n🗺️ https://maps.app.goo.gl/Ye56QQrJsxjn7Hi46\n⏰ Daily 11:00–20:00\n📞 511 252 470»\n\n### Сценарий 1 — Экстренность\nRU: «Очень жаль слышать 😿. Это может быть серьёзно. Пожалуйста, срочно позвоните **511 252 470**.»\nKA: «ძალიან ვწუხვარ 😿. ეს შესაძლოა სერიოზული იყოს. გთხოვთ, სასწრაფოდ დარეკოთ **511 252 470**.»\nEN: «Very sorry to hear 😿. This could be serious. Please call **511 252 470** urgently.»\n\n### Сценарий 2 — Консультация\nRU: «Консультация — **50 GEL** 🐾. У главного врача — **80 GEL**. Начну подбирать время. Уточню 2-3 детали: вид животного; возраст; симптомы (кратко). Подскажите удобный день/время.»\nKA: «კონსულტაცია — **50 ლარი**, მთავარ ექიმთან — **80 ლარი**. თქვენი ვიზიტის დასაჯავშნად დამჭირდება  2-3 დეტალი: სახეობა; ასაკი; სიმპტომები მოკლედ. მითხარით მოსახერხებელი დღე/საათი.»\nEN: «Consultation — **50 GEL** 🐾. With chief vet — **80 GEL**. I'll find a time. Need 2-3 details: pet type; age; symptoms (brief). Tell me convenient day/time.»\n\n### Сценарий 3 — Груминг\nRU: «Груминг — **от 80 GEL** ✂️🐾 (зависит от размера/веса). Уточню: порода/размер; вес (кг). Какой день/время? Процедура ~3-3.5 часа.»\nKA: «გრუმინგი — **80 ლარიდან** ✂️🐾 (ზომა/წონაზეა დამოკიდებული). თქვენი ვიზიტის დასაჯავშნად დამჭირდება  2-3 დეტალი: ჯიში/ზომა; წონა (კგ). რომელი დრო გირჩევთ? პროცედურა ~3-3.5 სთ.»\nEN: «Grooming — **from 80 GEL** ✂️🐾 (depends on size/weight). Need: breed/size; weight (kg). What day/time? Procedure ~3-3.5 hours.»\n\n### Сценарий 4 — Вакцинация\nRU: «Кошка — **60 GEL**, собака — **55 GEL**, бешенство — **30 GEL**. Уточните: вид/возраст; ветпаспорт; дата последней прививки. Когда удобно?»\nKA: «კატა — **60 ლარი**, ძაღლი — **55 ლარი**, ცოფის — **30 ლარი**. თქვენი ვიზიტის დასაჯავშნად დამჭირდება  2-3 დეტალი: სახეობა/ასაკი; ვეტპასპორტი; ბოლო ვაქცინის თარიღი. როდის გსურთ?»\nEN: «Cat — **60 GEL**, dog — **55 GEL**, rabies — **30 GEL**. Specify: type/age; vet passport; last vaccination. When convenient?»\n\n### Сценарий 5 — Микрочип/Паспорт\nRU: «Микрочип — **50 GEL**, ветпаспорт — **25 GEL**. Можно вместе. Нужны: услуга (чип/паспорт/оба), вид, имя животного.»\nKA: «მიკროჩიპი — **50 ლარი**, ვეტპასპორტი — **25 ლარი**. შესაძლებელია ორივე ერთად. თქვენი ვიზიტის დასაჯავშნად დამჭირდება  2-3 დეტალი: სერვისი; კატა/ძაღლი; სახელი.»\nEN: «Microchip — **50 GEL**, vet passport — **25 GEL**. Can do both. Need: service (chip/passport/both), type, pet name.»\n\n### Сценарий 6 — Документы для поездок\nRU: «Справка — **100 GEL**. Выдаём в клинике; затем Минсельхоз меняет на лицензию. Нужны: страна/дата; прививка от бешенства; чип/паспорт. Когда удобно?»\nKA: «ცნობა — **100 ლარი**. გაიცემა კლინიკაში; შემდეგ მფლობელი ცვლის ექსპორტის ლიცენზიაზე. თქვენი ვიზიტის დასაჯავშნად დამჭირდება  2-3 დეტალი: ქვეყანა/თარიღი; ცოფის ვაქცინა; ჩიპი/პასპორტი.»\nEN: «Health certificate — **100 GEL**. Issued at clinic; then Ministry exchanges for export license. Need: country/date; rabies vaccine; chip/passport.»\n\n### Сценарий 7 — Эхоскопия\nRU: «Эхоскопия — **50 GEL**. Тип (мочевой/беременность); вид/возраст/вес. Мочевой — желательно полный (1-2 ч). Когда удобно?»\nKA: «ექოსკოპია — **50 ლარი**. ტიპი (შარდის ბუშტი/ორსულობა); სახეობა/ასაკი/წონა. შარდის ბუშტი — სასურველია სავსე (1-2 სთ). როდის გირჩევნიათ ვიზიტის დაჯავშნა?»\nEN: «Ultrasound — **50 GEL**. Type (bladder/pregnancy); type/age/weight. Bladder — preferably full (1-2 h). When convenient?»\n\n### Сценарий 8 — Анализы\nRU: «Общий — **30 GEL**, биохимия — **150 GEL**, электролиты — **70 GEL**. Какие анализы? Drop-off или забор? Натощак?»\nKA: «ზოგადი — **30 ლარი**, ბიოქიმია — **150 ლარი**, ელექტროლიტები — **70 ლარი**. რომელი ანალიზები გაინტერესებთ? ნიმუში მოიტანა ხდება ჩვენთან კლინიკაში.»\nEN: «General — **30 GEL**, biochemistry — **150 GEL**, electrolytes — **70 GEL**. Which tests? Drop-off or collection? Fasting?»\n\n### Сценарий 9 — Стоматология\n\nRU: «Стоматология — **от 250 GEL** 🦷\n\n⚠️ Важно: стоматолог принимает только по понедельникам, средам и пятницам.\n\nОбычно сначала осмотр и план. Нужны: вид/возраст/вес; проблема (камень/запах/боль); реакции на наркоз.\n\nКакой день (ПН/СР/ПТ) и время вам удобны?»\n\nKA: «სტომატოლოგია — **250 ლარიდან** 🦷\n\n⚠️ მნიშვნელოვანი: სტომატოლოგი იღებს მხოლოდ ორშაბათს, ოთხშაბათს და პარასკევს.\n\nჯერ შემოწმება, შემდეგ გეგმვა. საჭიროა: სახეობა/ასაკი/წონა; პრობლემა (ქვა/სუნი/ტკივილი); ნარკოზზე რეაქცია.\n\nრომელი დღე (ორ/ოთხ/პარ) და დრო გირჩევნიათ?»\n\nEN: «Dentistry — **from 250 GEL** 🦷\n\n⚠️ Important: dentist works only on Mondays, Wednesdays and Fridays.\n\nUsually exam first, then plan. Need: type/age/weight; problem (tartar/odor/pain); anesthesia reactions.\n\nWhich day (Mon/Wed/Fri) and time is convenient for you?»\n\n### Сценарий 10 — Госпитализация\nRU: «Госпитализация (24ч) — **50 GEL**. Примем под наблюдением. Нужны: повод/диагноз; лекарства/аллергии; контактное лицо. Сегодня когда удобно 11:00-20:00?»\nKA: «ჰოსპიტალიზაცია (24სთ) — **50 ლარი**. მივიღებთ დაკვირვებაზე. თქვენი ვიზიტის დასაჯავშნად დამჭირდება  2-3 დეტალი: მიზეზი/დიაგნოზი; მედიკამენტები/ალერგიები; საკონტაქტო პირი.  როდის შეძლებთ მოსვლას 11:00-20:00?»\nEN: «Hospitalization (24h) — **50 GEL**. We'll admit and monitor. Need: reason/diagnosis; medications/allergies; contact person. Today when convenient 11:00-20:00?»\n\n### Сценарий 11 — Хирургия\nRU: «Хирургические процедуры: кот — **кастрация 180 GEL**, кошка — **стерилизация 220 GEL**; пёс — **кастрация от 180 GEL**, сука — **стерилизация от 240 GEL**. Обычно сначала осмотр и план. Для записи: вид и пол; возраст и вес; реакции на наркоз. Какой день/время?»\nKA: «ქირურგიული პროცედურები: კატის კასტრაცია — **180 GEL**, კატის სტერილიზაცია — **220 GEL**; ძაღლის კასტრაცია — **180 GEL-დან**, სტერილიზაცია — **240 GEL-დან**. ჩვეულებრივ, ჯერ შემოწმება და გეგმა. დასაჯავშნად: სახეობა და სქესი; ასაკი და წონა; ნარკოზზე წინა რეაქცია. რომელი დღე/საათი?»\nEN: «Surgical procedures: male cat — **castration 180 GEL**, female cat — **spay 220 GEL**; male dog — **castration from 180 GEL**, female dog — **spay from 240 GEL**. Usually exam first. To book: type and sex; age and weight; anesthesia reactions. What day/time?»\n\nПодготовка (если уместно):\nRU: «Перед операцией обычно — голодная пауза 8-10 часов (воду можно). Подтвердим при осмотре.»  \nKA: «ოპერაციამდე ჩვეულებრივ საჭიროა 8-10 საათიანი შიმშილი (წყალი შეიძლება). დეტალებს ვიზიტზე დავაზუსტებთ.»\nEN: «Before surgery usually fasting 8-10 hours (water ok). Will confirm at exam.»\n\n### Сценарий 12 — Вакансия ветеринара 🏥\n\n**Когда использовать:** Клиент спрашивает о работе, вакансии, трудоустройстве, \"ეძებთ თუ არა ექიმს\", \"нужен ли врач\", \"job opening\", \"hiring\", \"looking for vet\" и подобное.\n\n**Ответ:**\n\nRU: «Да, мы ищем ветеринарного врача! 🏥\n\n📍 Тбилиси, Исани, ул. Габриэл Салоси 63\n⏰ Ежедневно 11:00–20:00\n\nПо всем деталям вакансии звоните:\n📞 511 252 470 (клиника)\n📞 591 61 5885\n\nИли заглядывайте к нам когда удобно — мы тут каждый день 🐾»\n\nKA: «დიახ, ვეძებთ ვეტერინარ ექიმს! 🏥\n\n📍 თბილისი, ისანი, გაბრიელ სალოსის ქ. 63\n⏰ ყოველდღე 11:00–20:00\n\nვაკანსიის ყველა დეტალზე დარეკეთ:\n📞 511 252 470 (კლინიკა)\n📞 591 61 5885\n\nან გვესტუმრეთ როცა გსურთ — ჩვენ ყოველდღე აქ ვართ 🐾»\n\nEN: «Yes, we're looking for a veterinarian! 🏥\n\n📍 Tbilisi, Isani, Gabriel Salosi St. 63\n⏰ Daily 11:00–20:00\n\nFor all vacancy details, please call:\n📞 511 252 470 (clinic)\n📞 591 61 5885\n\nOr drop by anytime — we're here every day 🐾»\n\n**Важно:** Бот может отвечать на базовые вопросы об адресе и часах работы клиники. Для всех остальных деталей о вакансии (зарплата, график, требования, обязанности и т.д.) → направляет звонить или приходить.\n\n# =========================\n# 9) АНТИ-ОШИБКИ И EDGE CASES\n# =========================\n❌ НИКОГДА:\n- Не подтверждай «свободно/занято» без вызова соответствующего cal_check_availability (clinic или grooming)\n- Не предлагай/создавай события вне 11:00-20:00\n- Не показывай event_id, calendarId, threadId клиенту\n- Не делай cal_create_event без телефона (формат 5XX XXX XXX)\n- Не делай cal_create_event если УЖЕ создавал запись в этом разговоре (используй 3C и cal_update_event)\n- Не используй cal_update_event если НЕ создавал запись в этом разговоре\n- Не спрашивай у клиента event_id\n- Не предлагай новое время при отмене, если клиент не просил\n- Не ставь диагноз по фото\n- НЕ ПУТАЙ КАЛЕНДАРИ: для груминга — только инструменты (grooming), для остальных — только (clinic)\n\n✅ ВСЕГДА:\n- Проверяй формат телефона\n- Показывай дату+время естественно («26 октября, 15:00»)\n- Спрашивай финальное подтверждение перед созданием\n- При ошибке инструмента → объясни + предложи альтернативу\n- Фото → опиши визуально, НЕ диагноз, рекомендуй консультацию/звонок\n- Определяй правильный календарь по STATE.booking_service перед каждым вызовом инструмента\n- Распознавай перенос: если УЖЕ создавал запись → используй cal_update_event, НЕ cal_create_event\n- Проверяй доступность нового времени ПЕРЕД cal_update_event\n- Проверяй что предлагаемое время не в прошлом (сравни с {{ $now }} )\n- Учитывай длительность услуги при предложении времени (груминг 3ч, остальное 30мин)\n- Для стоматологии: ВСЕГДА используй reasoning чтобы определить это dental appointment\n- Для стоматологии: проверяй день недели ПЕРЕД cal_check_availability\n- Для стоматологии: только ПН/СР/ПТ доступны, другие дни блокированы независимо от календаря\n\n**ПРОВЕРКА ВРЕМЕНИ:**\nПеред тем как предложить альтернативное время:\n1. Проверь текущее время (NOW_ISO в начале промпта)\n2. НЕ предлагай время которое уже прошло сегодня\n3. Если все варианты на сегодня прошли → предлагай только завтра\n4. Для груминга (3 часа) не предлагай время позже 17:00 на сегодня\n5. Для обычных услуг (30 мин) не предлагай время позже 19:30 на сегодня\n\nПример:\nСейчас 18:15, клиент хочет груминг (3 часа)\n❌ НЕ предлагай: 16:00, 16:30, 17:00 (прошло)\n❌ НЕ предлагай: 18:00, 18:30, 19:00 (не хватит времени до 20:00)\n✅ Предлагай: завтра 11:00, 12:00, 13:00\n\n🔧 ОСОБЫЕ СЛУЧАИ:\n- Время прошло сегодня → предложи завтра\n  RU: «Это время прошло. Предлагаю завтра, [дата], [время]. Подойдёт?»\n  KA: «ეს დრო უკვე გავიდა. გთავაზობთ ხვალ, [თარიღი], [დრო]. ეს დრო მისაღებია თქვენთვის?»\n\n- Дата в прошлом → укажи, предложи актуальные\n  RU: «Эта дата прошла. Предлагаю: [даты]»\n  KA: «ეს თარიღი უკვე გავიდა. გთავაზობთ: [თარიღები]»\n\n- Неоднозначное время («в 3»):\n  RU: «Уточните: 15:00 (день)? Мы работаем 11:00-20:00.»\n  KA: «დააზუსტეთ: 15:00? ჩვენ ვმუშაობთ 11:00-20:00.»\n\n- Только «завтра» без времени:\n  RU: «Какое время завтра удобно? Мы работаем 11:00-20:00.»\n  KA: «ხვალ რომელი საათი გირჩევნიათ? ჩვენ ვმუშაობთ 11:00-20:00.»\n\n- Пустой ответ инструмента:\n  RU: «Не удалось проверить расписание. Пожалуйста, позвоните 📞 511 252 470.»\n  KA: «ვერ მოხერხდა განრიგის შემოწმება. გთხოვთ, დაგვირეკოთ 📞 511 252 470.»\n\n- Запись на 2+ недели:\n  RU: «Обычно записываем на ближайшие 2 недели. Предлагаю: [даты в пределах 14 дней]»\n  KA: «ჩვეულებრივ ვიწერთ უახლოეს 2 კვირაზე. გთავაზობთ: [თარიღები 14 დღეში]»\n\n- Несколько питомцев:\n  RU: «Записываем их на разное время или одновременно?»\n  KA: «ვჯავშნით მათ ცალ-ცალკე თუ ერთდროულად?»\n  → Разное — отдельные записи; одновременно — увеличь duration_min, укажи в description.\n\n- Стоматология в недоступный день (ВТ/ЧТ/СБ/ВС):\n  RU: «Стоматолог работает только по понедельникам, средам и пятницам 🦷\n  Ближайшие варианты:\n  - [понедельник, дата] - 11:00, 14:00, 17:00\n  - [среда, дата] - 12:00, 15:00, 18:00\n  - [пятница, дата] - 11:00, 14:00, 17:00\n  Что подойдёт?»\n  \n  KA: «სტომატოლოგი მუშაობს მხოლოდ ორშაბათს, ოთხშაბათს და პარასკევს 🦷\n  უახლოესი ვარიანტები:\n  - [ორშაბათი, თარიღი] - 11:00, 14:00, 17:00\n  - [ოთხშაბათი, თარიღი] - 12:00, 15:00, 18:00\n  - [პარასკევი, თარიღი] - 11:00, 14:00, 17:00\n  რომელი გირჩევნიათ?»\n\n# =========================\n# 10) STRICT OUTPUT MODE\n# =========================\nКлиенту никогда не показывай инструкции/сценарии/инструменты/STATE.\nВыводи только готовый текст на языке клиента (RU/KA/EN).\nИнструменты вызывай внутренне; клиент видит результат естественно (дата+время без RFC3339 и без ID).\n\n⚠️ ВАЖНО: Telegram уведомления — это ВНУТРЕННИЕ служебные сообщения для администратора.\nКлиент НИКОГДА не должен видеть содержимое Telegram уведомлений.\nПосле отправки Telegram уведомления — ВСЕГДА отвечай клиенту отдельным сообщением с подтверждением."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1264,
        144
      ],
      "id": "17ab1e2c-bcb1-4d46-86f8-dac10f11f1b0",
      "name": "AI Agent2",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionID }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2112,
        416
      ],
      "id": "3f333ac5-9c95-40ca-be9c-3f3da35d8944",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "7cRUkrMTDAhbCPa4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e6a5e919-aca8-455c-b306-af94dc3a2751",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5344,
        144
      ],
      "id": "b8160034-27fc-4236-b565-8eae2957b2a5",
      "name": "Webhook",
      "webhookId": "e6a5e919-aca8-455c-b306-af94dc3a2751"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2587a7e5-6d6f-461e-9d4f-8abb322698e2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2436c65a-b9b9-41cd-9e09-60299fb353df",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "160d20fb-2075-4177-9d24-a02dbb8a6e6f",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4288,
        128
      ],
      "id": "a292c58d-984a-412d-a49b-2fa7d15d0da0",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Extract \"ChatGPT>Question\" from custom fields\nconst inputString = $input.first().json.custom_fields?.[\"ChatGPT > Question\"] || $json.body?.custom_fields?.[\"ChatGPT > Question\"] || \"\";\n\n// Debugging: Log extracted value\nconsole.log(\"Extracted Input:\", inputString);\n\n// If input is empty, return an error\nif (!inputString || inputString.trim().length === 0) {\n    return [{ json: { error: \"ChatGPT>Question field is empty or not found!\" } }];\n}\n\n// Split messages correctly (preserving URLs & text)\nconst inputs = inputString.split(/\\s*,\\s*/);\n\n// Process and classify messages\nconst logs = [];\n\n// Process and classify messages\n// Process and classify messages\nconst results = inputs\n    .map(input => input.trim())  // Trim whitespace\n    .filter(input => input.length > 0 && !/{{cuf_\\d+}}/.test(input))  // Remove ManyChat placeholders\n    .map(input => {\n        let type = \"text\";  // Default type\n\n        // Extract clean URL without query parameters\n        const cleanUrl = input.split(\"?\")[0]; \n        logs.push(\"Processing Input: \" + input);\n        logs.push(\"Clean URL: \" + cleanUrl);\n\n        // Extract file extension\n        const urlParts = cleanUrl.split(\".\");\n        const fileExtension = urlParts.length > 1 ? urlParts.pop().toLowerCase() : \"\";\n        logs.push(\"File Extension: \" + fileExtension);\n\n        // Detect images by checking file extension\n        if (fileExtension.match(/^(jpg|jpeg|png|gif|webp)$/i)) {\n            type = \"image\";\n        } \n        // Detect voice messages\n        else if (fileExtension.match(/^(mp4|aac|wav|ogg|m4a)$/i) || cleanUrl.includes(\"audioclip\")) {\n            type = \"voice\";\n        }\n\n        logs.push(\"Final Type: \" + type);\n        return { json: { input, type } };\n    });\n\n// If no valid inputs remain, return a meaningful error message\nif (results.length === 0) {\n    logs.push(\"No valid inputs detected.\");\n    return [{ json: { error: \"No valid inputs after filtering!\", logs } }];\n}\n\n// Return cleaned & categorized inputs with debug logs\nreturn results.concat({ json: { logs } });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        144
      ],
      "id": "1156b6d4-80e3-4b6d-bb0f-84b8695e1b86",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -3392,
        144
      ],
      "id": "5d051d2e-0cdf-4bf5-b3b1-5bb7184ff996",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $('Code1').item.json.input }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4064,
        48
      ],
      "id": "fd24f75a-b219-4ee1-b9d9-e768472abcf4",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8326e3a-7748-40ce-83a3-c40f0921e412",
              "name": "imagecontent",
              "value": "= {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3616,
        48
      ],
      "id": "ef80bc5b-7763-42f9-999a-5adad7b5142d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c01cedca-bc23-4fb3-8b11-b2ae7473807b",
              "name": "userTextInput",
              "value": "={{ $json.input }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3616,
        240
      ],
      "id": "bceffae4-8922-47d0-b293-8ddb078d1dbb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d272cc3-e561-4c8c-b297-a3377b52dee9",
              "name": "chatGptRequest",
              "value": "=  \nImage Description:\n{{ $json.data[0].imagecontent }}\n\nUser's Message:\n{{ $json.data[0].userTextInput || $json.data[1].userTextInput }}\n\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        144
      ],
      "id": "05dfefc6-f925-4b04-b1ef-fbc8c927b33d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "// Combine all incoming text items into a single string\nconst combinedText = items\n    .map(item => item.json.input)  // Extract text input\n    .filter(text => text)  // Remove empty values\n    .join(\" \");  // Join with space for better readability\n\n// Return the combined string as a single output object\nreturn [{ json: { input: combinedText, type: \"text\" } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        240
      ],
      "id": "96fb4692-7399-4dc3-a874-a1d8aaafb3af",
      "name": "Code"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3232,
        144
      ],
      "id": "5b43e27f-1b20-40db-81bb-7cafe58426a8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f43563ff-c1d0-4661-aeb3-9b0550f464b8",
              "name": "sessionID",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"id\"].trim() }}\n\n\n\n\n\n\n",
              "type": "string"
            },
            {
              "id": "3a345989-3bd0-44a5-adf1-f7ada844e8c3",
              "name": "language",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"language\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        144
      ],
      "id": "6c89d6ba-1474-4553-be89-9f1396606c75",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ig_id",
              "value": "={{ $json.body.ig_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -5056,
        144
      ],
      "id": "2b677ed4-80ab-4bc0-82cd-fbcd83ae95f4"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "user might send us photo of their pet. i want you to analyze what pet is this, which breed and what visually you can understand about this pet just to know context of the whole picture in details",
        "inputType": "base64",
        "options": {
          "detail": "high",
          "maxTokens": 1500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3840,
        48
      ],
      "id": "b91a7b3c-1996-4fef-96f5-3f43e607a1fb",
      "name": "Analyze image",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "oBgjZqWYaQpVy8hV",
          "name": "n8n free OpenAI API credits"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 3718633:ea72f284ef6278f092244c6360c3fe9a\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{$('Edit Fields6').item.json.sessionID.trim()}}\",\n  \"field_id\": 13790066,\n  \"field_value\": {{ JSON.stringify($json.body.custom_fields['ChatGPT > Response']) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        240
      ],
      "id": "95aeaa8e-272f-4052-88ec-30158e318025",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a445cd-83d9-4714-b4af-8470208a64f5",
              "name": "body.custom_fields['ChatGPT > Response']",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        144
      ],
      "id": "ff92f6f3-5dd1-4231-b3d0-8b6c8a81f154",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node['Webhook'].data['body']['ig_id'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "5d52a68f-7efd-46f3-827e-ac7401ebb65f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "242651e5-e67d-45f8-91bf-ff701c6d3a26",
                    "leftValue": "={{ $node['Webhook'].data['body']['ig_id'] }}",
                    "rightValue": {},
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40e36ade-cdb2-4a3b-85bb-1c2f9fbd580f",
                    "leftValue": "={{ $node['Webhook'].data['body']['optin_whatsapp'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        144
      ],
      "id": "2dcb6500-94c2-43f4-8891-46c2a517ecc0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// LANGUAGE DETECTOR FOR VETIBOT - IMPROVED VERSION\n// ============================================================\n\n// ---- 0) Extract text\nlet textRaw = '';\n\nif ($json.chatGptRequest) {\n  const parts = $json.chatGptRequest.split(\"User's Message:\");\n  if (parts.length > 1) {\n    textRaw = parts[1].trim();\n  }\n}\n\nif (!textRaw) {\n  textRaw = String(\n    $json?.message?.text ??\n    $json?.text ??\n    $json?.last_input_text ??\n    ''\n  ).trim();\n}\n\n// ---- 1) No text → fallback to ManyChat\nif (!textRaw || textRaw.length === 0) {\n  const language_from_manychat = $json.language_code ?? $json.language ?? null;\n  let fallback_lang = null;\n  \n  if (language_from_manychat) {\n    const normalized = String(language_from_manychat).toLowerCase();\n    if (normalized === 'en' || normalized === 'english') {\n      fallback_lang = 'en';\n    } else if (normalized === 'ru' || normalized === 'russian') {\n      fallback_lang = 'ru';\n    } else if (normalized === 'ka' || normalized === 'georgian') {\n      fallback_lang = 'ka';\n    }\n  }\n  \n  return {\n    ...$json,\n    text: '',\n    lang_hint: fallback_lang,\n    language_code: fallback_lang,\n  };\n}\n\nconst lower = textRaw.toLowerCase();\n\n// Count characters by alphabet\nconst georgianChars = (textRaw.match(/[\\u10A0-\\u10FF]/g) || []).length;\nconst cyrillicChars = (textRaw.match(/[\\u0400-\\u04FF]/g) || []).length;\nconst latinChars = (textRaw.match(/[A-Za-z]/g) || []).length;\n\n// ---- 2) PRIORITY 1: Georgian script\nif (georgianChars > 0) {\n  return {\n    ...$json,\n    text: textRaw,\n    lang_hint: 'ka',\n    language_code: 'ka',\n  };\n}\n\n// ---- 3) PRIORITY 2: Cyrillic = Russian\nif (cyrillicChars > 0) {\n  return {\n    ...$json,\n    text: textRaw,\n    lang_hint: 'ru',\n    language_code: 'ru',\n  };\n}\n\n// ---- 4) Check for STRONG English indicators FIRST\nconst strongEnglishWords = /\\b(the|this|that|these|those|what|where|when|why|how|which|who|would|could|should|have|has|had|does|did|was|were|been|being|are|is|am|can|will|shall|may|might|must|very|more|most|some|any|many|much|about|into|through|during|before|after|above|below|between|under|again|further|then|once)\\b/gi;\n\nconst strongEnglishMatches = (lower.match(strongEnglishWords) || []).length;\n\nif (latinChars > 0 && strongEnglishMatches >= 2) {\n  // Strong evidence of English (2+ common English words)\n  return {\n    ...$json,\n    text: textRaw,\n    lang_hint: 'en',\n    language_code: 'en',\n  };\n}\n\n// ---- 5) PRIORITY 3: Georgian transliteration\nconst wordsCore = [\n  'gamarjoba','rogor','karg','madlob','ara','ki','tu','ra','ramdeni','romel','rato','sad',\n  'dges','dghe','gushin','xval','saat','saatze','saatamde','ghame','dila','shua','kvira','kvirashi','tve','tveshi',\n  'shegidzli','sheidzleba','ginda','mind','unda','aris',\n  'movide','movedi','mivdivar','mivigot','gadavide','gavaketo','gakhdeba',\n  'dzaghli','dzagli','kata','k\\'ata','klinika','vakcin','chip','pasport','gruming','konsult', // REMOVED 'vet'!\n  'tbilisi','isani','vake','saburtalo','gldani','didube','chugureti'\n];\nconst days = ['orshabati','samshabati','otxshabati','xutshabati','paraskevi','shabati','kvira'];\nconst months = ['ianvari','tebervali','marti','aprili','maisi','ivnisi','ivlisi','avgusti','septemberi','oktomberi','noemberi','dekemberi'];\nconst postpos = ['shi','ze','dan','amde','tan','sken','gan','tvis'];\nconst clusters = /(tqv|tkv|shv|dz|ts|kh|xv|gh|q'|qv|cx|sx|chv|zhv)/g;\nconst translitAnchors = /\\b(sad|mdebar|rodis|saati|sheidzleba|gamarjoba|madloba|dzagli|dzaghli|k'at|k'ata)\\b/i;\n\nconst countHits = (arr) => arr.reduce((a,w)=> a + (lower.includes(w) ? 1 : 0), 0);\nconst wordsHits = countHits(wordsCore) + countHits(days) + countHits(months);\n\nconst tokens = lower.split(/[^a-z\\u10a0-\\u10ff]+/).filter(Boolean);\nlet postHits = 0;\nfor (const t of tokens) {\n  for (const p of postpos) {\n    if (t.endsWith(p)) { postHits++; break; }\n  }\n}\n\nconst clusterHits = (lower.match(clusters) || []).length;\nconst translitBonus = translitAnchors.test(lower) ? 2 : 0;\n\nconst score = wordsHits*3 + postHits*2 + clusterHits + translitBonus;\n\n// Increased thresholds to avoid false positives\nconst STRICT_TH = 6;\nconst BIAS_TH = 5;  // Increased from 3 to 5\n\nif (score >= STRICT_TH) {\n  return {\n    ...$json,\n    text: textRaw,\n    lang_hint: 'ka',\n    language_code: 'ka',\n  };\n}\n\nif (score >= BIAS_TH && strongEnglishMatches < 2) {\n  // Weak Georgian evidence, but no strong English → probably Georgian\n  return {\n    ...$json,\n    text: textRaw,\n    lang_hint: 'ka',\n    language_code: 'ka',\n  };\n}\n\n// ---- 6) PRIORITY 4: Latin = English (default for Latin)\nif (latinChars > 0) {\n  return {\n    ...$json,\n    text: textRaw,\n    lang_hint: 'en',\n    language_code: 'en',\n  };\n}\n\n// ---- 7) EDGE CASE: Only numbers/emoji/punctuation\nreturn {\n  ...$json,\n  text: textRaw,\n  lang_hint: $json.lang_hint ?? null,\n  language_code: $json.language_code ?? null,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        144
      ],
      "id": "0492a845-328b-4572-8fc2-eea247dbbc2f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 3718633:ea72f284ef6278f092244c6360c3fe9a\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"id\"] }}\",\n  \"field_id\": 13791340,\n  \"field_value\": {{ JSON.stringify($json.body.custom_fields['ChatGPT > Response']).trim() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        48
      ],
      "id": "db53991e-9ec5-4162-8f5d-e82e975edcf0",
      "name": "HTTP Request1insta"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Checks availability in the CLINIC calendar for veterinary services.\nUse this for all services EXCEPT grooming: consultations, vaccinations, lab tests, ultrasound, dentistry, hospitalization, surgery.\nInput: start time (RFC3339 +04:00), end time (RFC3339 +04:00).\nReturns: true if available, false if busy.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "f6723d5adedca2903292cd5a7bac92a8476588dba88a9e11c7d17c2ea277f5df@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "BIONIKA VETERINARY CLINIC"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `Бери из state.time_iso. Если его нет — из state.last_proposed_iso.\nЕсли нет ни одного — НЕ ВЫЗЫВАЙ инструмент.\nФормат строго RFC3339 с +04:00.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `start + (state.duration_min || 30) минут. Формат RFC3339 +04:00.`, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Asia/Tbilisi",
            "mode": "list",
            "cachedResultName": "Asia/Tbilisi"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1920,
        400
      ],
      "id": "99cf9dfe-226d-4c40-a6aa-f3087438bdf6",
      "name": "cal_check_availability(clinic)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Creates event in the CLINIC calendar.\nUse ONLY after:\n1. User confirmed time AND state.phone is present\n2. cal_check_availability(clinic) returned true\n3. booking_service is NOT \"grooming\"\n\nInputs:\n- start: RFC3339 +04:00\n- end: start + duration (30 min for most services, 120-180 for surgery)\n- summary/description: service details, pet info, phone\n\nReturns: event_id (save to STATE.event_id and STATE.calendar_type=\"clinic\")",
        "calendar": {
          "__rl": true,
          "value": "f6723d5adedca2903292cd5a7bac92a8476588dba88a9e11c7d17c2ea277f5df@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "BIONIKA VETERINARY CLINIC"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `state.time_iso (или подтверждённый state.last_proposed_iso).\nRFC3339 +04:00. Вызывай только если cal_check_availability(start,end)==true.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `start + (state.duration_min || 30) минут. RFC3339 +04:00.`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Строго одна строка: \n\"pet_name: {pet_name}; species: {species}; breed: {breed}; age_years: {age_years}; weight_kg: {weight_kg}; dog_size: {dog_size}; phone: {phone|N/A}; notes: {notes}; service: {service}\"\nЗаполняй только непустые поля, но phone выводи всегда (N/A если нет).`, 'string') }}",
          "showMeAs": "opaque",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `\"Vet: \" + (state.service || \"Consultation\")`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1776,
        400
      ],
      "id": "21e963bd-e7e3-4908-9a74-991333f727dd",
      "name": "cal_create_event(clinic)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Deletes appointment from CLINIC calendar.\n\nUse ONLY when:\n1. User wants to CANCEL appointment created in this conversation\n2. You have the event_id (get it from \"Get many events\" tool first)\n\nHOW TO USE:\n1. First call \"Get many events in Google Calendar\" to get the event_id\n2. Extract event_id from response[0].id\n3. Call this tool with that event_id\n\nWHEN TO USE:\n- \"Я не смогу прийти\" → cancel\n- \"Отмените запись\" → cancel\n- \"გადავდოთ\" → cancel\n\nCRITICAL:\n- Always get event_id from \"Get many events\" tool BEFORE calling this\n- Event_id format: string like \"jq8pnoreg5aipl7pvkplnn69ts\"\n- After successful deletion, send Telegram notification to admin",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "f6723d5adedca2903292cd5a7bac92a8476588dba88a9e11c7d17c2ea277f5df@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "BIONIKA VETERINARY CLINIC"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `state.event_id (обязательно). Если пусто — НЕ ВЫЗЫВАЙ.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1552,
        416
      ],
      "id": "e6f77003-f2c9-49df-8132-4508335282d3",
      "name": "cal_delete_event(clinic)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Checks availability in the GROOMING calendar.\nUse this ONLY when booking_service == \"grooming\".\nInput: start time (RFC3339 +04:00), end time (RFC3339 +04:00).\nDuration for grooming: 180 minutes (3 hours) or 210 minutes (3.5 hours) for large breeds.\nReturns: true if available, false if busy.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "c760659e514272194c2a5d0a4e8721d8202596c25359c1da3a9afddca91a17d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Grooming "
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `Бери из state.time_iso. Если его нет — из state.last_proposed_iso.\nЕсли нет ни одного — НЕ ВЫЗЫВАЙ инструмент.\nФормат строго RFC3339 с +04:00.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `start + (state.duration_min || 30) минут. Формат RFC3339 +04:00.`, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Asia/Tbilisi",
            "mode": "list",
            "cachedResultName": "Asia/Tbilisi"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -672,
        368
      ],
      "id": "230b3574-c392-43e9-b483-5dac7d3b5dce",
      "name": "cal_check_availability(grooming)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Creates event in the GROOMING calendar.\nUse ONLY when:\n1. booking_service == \"grooming\"\n2. User confirmed time AND state.phone is present\n3. cal_check_availability(grooming) returned true\n\nInputs:\n- start: RFC3339 +04:00\n- end: start + 180 minutes (or 210 for large breeds)\n- summary: \"Груминг — [breed/type] — [Client name]\"\n- description: breed/size, weight, special notes, phone\n\nReturns: event_id (save to STATE.event_id and STATE.calendar_type=\"grooming\")",
        "calendar": {
          "__rl": true,
          "value": "c760659e514272194c2a5d0a4e8721d8202596c25359c1da3a9afddca91a17d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Grooming "
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `state.time_iso (или подтверждённый state.last_proposed_iso).\nRFC3339 +04:00. Вызывай только если cal_check_availability(start,end)==true.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `start + (state.duration_min || 30) минут. RFC3339 +04:00.`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Строго одна строка: \n\"pet_name: {pet_name}; species: {species}; breed: {breed}; age_years: {age_years}; weight_kg: {weight_kg}; dog_size: {dog_size}; phone: {phone|N/A}; notes: {notes}; service: {service}\"\nЗаполняй только непустые поля, но phone выводи всегда (N/A если нет).`, 'string') }}",
          "showMeAs": "opaque",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `\"Vet: \" + (state.service || \"Consultation\")`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -784,
        368
      ],
      "id": "dd6bb6af-40d9-4577-b790-873749b83f5a",
      "name": "cal_create_event(grooming)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Deletes event from GROOMING calendar.\nUse when:\n1. STATE.event_id exists AND STATE.calendar_type == \"grooming\"\n2. User wants to cancel grooming appointment\n\nInput: event_id",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c760659e514272194c2a5d0a4e8721d8202596c25359c1da3a9afddca91a17d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Grooming "
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `state.event_id (обязательно). Если пусто — НЕ ВЫЗЫВАЙ.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1008,
        368
      ],
      "id": "417de288-bee0-4b84-a93a-b44ebfcc423f",
      "name": "cal_delete_event(grooming)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2272,
        416
      ],
      "id": "2b5cfaa8-1419-4b46-a3ab-47b31e2c6241",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "V4qjRKo8T1R2Db1P",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an event in Google CalendarUpdates existing appointment in CLINIC calendar (reschedule or modify details).\n\nUse ONLY when:\n1. User wants to CHANGE time of existing appointment in same conversation\n2. User wants to MODIFY details of existing appointment\n3. You already created event with cal_create_event in this conversation (event_id available)\n4. For grooming services → use cal_update_event(grooming) instead\n\nWHEN TO USE:\n- \"Можно перенести на 16:00?\" → reschedule same appointment\n- \"Хочу изменить время с 15:00 на 16:00\" → reschedule\n- \"У меня запись на завтра, но телефон изменился\" → update details\n\nWHEN NOT TO USE:\n- New appointment → use cal_create_event\n- Different appointment → use cal_create_event\n- Cancel → use cal_delete_event\n- Grooming service → use cal_update_event(grooming)\n\nHOW IT WORKS:\nEvent_ID must be extracted from the \"id\" field in the response of previous cal_create_event.\nExample: if cal_create_event returned {\"response\": [{\"id\": \"abc123xyz\", ...}]}, then Event_ID = \"abc123xyz\"\nYou provide: Event_ID (from previous cal_create_event), new Start time, new End time (= Start + duration_min), updated Summary/Description if needed.\n\nINPUTS (AI decides what to update):\n- Event_ID: extract from response.response[0].id of previous cal_create_event (string like \"jq8pnoreg5aipl7pvkplnn69ts\")\n- Start: new start time RFC3339 +04:00, example: 2025-10-26T15:00:00+04:00\n- End: new end time RFC3339 +04:00, example: 2025-10-26T15:30:00+04:00\n- Summary: \"Консультация — Барсик — Георгий\" (update if changed)\n- Description: full booking details in one line (update if changed)\n\nEXAMPLE SCENARIO:\nUser: \"Можно перенести на 16:00?\"\n→ 1) cal_check_availability(clinic, 16:00) → if free\n→ 2) cal_update_event(clinic) with Event_ID from previous cal_create_event, new Start=16:00, End=16:30\n→ 3) Send Telegram notification about reschedule\n→ 4) Confirm to user in their language\n\nCRITICAL:\n- Event_ID is a string from response.response[0].id of cal_create_event, NOT session_id or any other ID\n- Example event_id format: \"jq8pnoreg5aipl7pvkplnn69ts\" (letters and numbers)\n- Always check new time availability BEFORE calling update\n- Working hours only: 11:00-20:00\n- Never show event_id to user\n- Show time naturally to user: \"27 октября, 16:00\" not RFC3339",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "f6723d5adedca2903292cd5a7bac92a8476588dba88a9e11c7d17c2ea277f5df@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "BIONIKA VETERINARY CLINIC"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1648,
        416
      ],
      "id": "77be0ddc-e6ce-4c8d-95ed-b03f38ce6c9a",
      "name": "cal_update_event(clinic)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Updates existing grooming appointment in GROOMING calendar.\n\nUse ONLY when:\n1. Original booking_service was \"grooming\"\n2. User wants to change time or details of GROOMING appointment\n3. You created grooming event with cal_create_event(grooming) in this conversation\n\nWHEN TO USE:\n- \"გადავიტანოთ გრუმინგი სხვა დროს\" → reschedule grooming\n- \"Grooming перенести можно?\" → reschedule grooming\n\nWHEN NOT TO USE:\n- NOT grooming service → use cal_update_event(clinic)\n- New grooming → use cal_create_event(grooming)\n- Cancel → use cal_delete_event(grooming)\n\nHOW IT WORKS:\nEvent_ID comes from previous cal_create_event(grooming) in this workflow.\nYou provide new time and updated details if needed.\n\nINPUTS (AI decides):\n- Event_ID: from previous call (automatic)\n- Start: new start RFC3339 +04:00\n- End: Start + 180 min (or 210 for large breeds) RFC3339 +04:00\n- Summary: \"Груминг — [breed] — [client]\" (if changed)\n- Description: grooming details (if changed)\n\nCRITICAL:\n- Grooming duration: 180-210 minutes (3-3.5 hours)\n- Check availability before update\n- Working hours: 11:00-20:00",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "c760659e514272194c2a5d0a4e8721d8202596c25359c1da3a9afddca91a17d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Grooming "
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -896,
        368
      ],
      "id": "ac5cdff5-ef6d-4bb5-bf6e-c428526ecf0d",
      "name": "cal_update_event(grooming)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "when appointment is created in google calendar, send that appointment details using this tool",
        "chatId": "6394064909",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -496,
        368
      ],
      "id": "3bc37f1c-7a54-498f-b68f-7d23f9c7a7f5",
      "name": "Send a text message in Telegram",
      "webhookId": "f88b88f8-d9f6-4b1a-8e01-5cd91dd4c72a",
      "credentials": {
        "telegramApi": {
          "id": "yfjWzaj40WA4mgi2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clients",
          "mode": "list",
          "cachedResultName": "clients"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $node[\"Webhook\"].json[\"body\"][\"id\"].trim() }}",
            "first_name": "={{ $node[\"Webhook\"].json[\"body\"][\"first_name\"].trim() }}",
            "last_name": "={{ $node[\"Webhook\"].json[\"body\"][\"last_name\"].trim() }}",
            "language": "={{ $json.lang_hint || 'auto' }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -32
      ],
      "id": "205b6d78-0b81-4011-a7a3-2ea7f8c0f4a9",
      "name": "Update rows in a table clients",
      "credentials": {
        "postgres": {
          "id": "7cRUkrMTDAhbCPa4",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $node[\"Webhook\"].json[\"body\"][\"id\"].trim() }}",
            "message_type": "human",
            "content": "={{ $node[\"Webhook\"].json[\"body\"][\"last_input_text\"] }}",
            "language": "={{ $json.lang_hint || 'auto' }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -96
      ],
      "id": "9ff2afc5-d04f-4834-a853-f351ee1a9d0b",
      "name": "Insert Message to DB",
      "credentials": {
        "postgres": {
          "id": "7cRUkrMTDAhbCPa4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 3718633:ea72f284ef6278f092244c6360c3fe9a\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{$('Edit Fields6').item.json.sessionID.trim()}}\",\n  \"field_id\": 13951657,\n  \"field_value\": {{ JSON.stringify($json.body.custom_fields['ChatGPT > Response']) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        464
      ],
      "id": "e9bdd6b3-a183-4829-b158-a173c6cfe6d9",
      "name": "whatsapp"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves the most recently created event from clinic calendar.\nUse this tool BEFORE cal_update_event when user wants to reschedule.\n\nWHEN TO USE:\n- User asks to reschedule appointment created in this conversation\n- You need event_id for cal_update_event\n\nHOW IT WORKS:\nReturns the latest event. Extract event_id from response[0].id and use it in cal_update_event.\n\nExample:\nUser: \"Can I reschedule to 18:00?\"\n→ 1) Call this tool to get the latest event\n→ 2) Extract event_id from response[0].id\n→ 3) Call cal_check_availability(clinic, 18:00)\n→ 4) Call cal_update_event(clinic) with that event_id\n\nCRITICAL: The event_id is in response[0].id field, format like \"jq8pnoreg5aipl7pvkplnn69ts\"",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "f6723d5adedca2903292cd5a7bac92a8476588dba88a9e11c7d17c2ea277f5df@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "BIONIKA VETERINARY CLINIC"
        },
        "limit": 1,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "orderBy": "startTime",
          "timeZone": {
            "__rl": true,
            "value": "Asia/Tbilisi",
            "mode": "list",
            "cachedResultName": "Asia/Tbilisi"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1584,
        784
      ],
      "id": "4810e77e-6795-43c8-bab4-e28b18ceb48a",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves the most recently created event from GROOMING calendar.\nUse this tool BEFORE cal_update_event(grooming) when user wants to reschedule grooming appointment.\n\nWHEN TO USE:\n- User asks to reschedule grooming appointment created in this conversation\n- You need event_id for cal_update_event(grooming)\n\nHOW IT WORKS:\nReturns the latest grooming event. Extract event_id from response[0].id and use it in cal_update_event(grooming).\n\nExample:\nUser: \"lets change time to 11:30\"\n→ 1) Call this tool to get the latest grooming event\n→ 2) Extract event_id from response[0].id\n→ 3) Call cal_check_availability(grooming, 11:30)\n→ 4) Call cal_update_event(grooming) with that event_id\n\nCRITICAL: The event_id is in response[0].id field, format like \"abc123xyz\"",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c760659e514272194c2a5d0a4e8721d8202596c25359c1da3a9afddca91a17d7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Grooming "
        },
        "limit": 1,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "orderBy": "startTime",
          "timeZone": {
            "__rl": true,
            "value": "Asia/Tbilisi",
            "mode": "list",
            "cachedResultName": "Asia/Tbilisi"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -976,
        800
      ],
      "id": "96d33fb4-5507-4bff-809c-0c5d97117ae6",
      "name": "Get many events in Google Calendar (grooming)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wiBB0CYvneJiva7k",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request1insta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cal_check_availability(clinic)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cal_create_event(clinic)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cal_delete_event(clinic)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cal_check_availability(grooming)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cal_create_event(grooming)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cal_delete_event(grooming)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "cal_update_event(clinic)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cal_update_event(grooming)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1insta": {
      "main": [
        [
          {
            "node": "Update rows in a table clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update rows in a table clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table clients": {
      "main": [
        [
          {
            "node": "Insert Message to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp": {
      "main": [
        [
          {
            "node": "Update rows in a table clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar (grooming)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "239cb864-e461-4235-9f3c-c2259b7e393b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed59786a423502ee9730779f072f33e19dbf45ff0930c772a2fb457182890842"
  },
  "id": "U1Bo4A2hfie1Wt2I",
  "tags": []
}